<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bg.springboot04myems.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="com.bg.springboot04myems.Emp">
            <id property="EMPNO" column="EMPNO" jdbcType="INTEGER"/>
            <result property="ENAME" column="ENAME" jdbcType="VARCHAR"/>
            <result property="JOB" column="JOB" jdbcType="VARCHAR"/>
            <result property="MGR" column="MGR" jdbcType="INTEGER"/>
            <result property="HIREDATE" column="HIREDATE" jdbcType="DATE"/>
            <result property="SAL" column="SAL" jdbcType="DOUBLE"/>
            <result property="COMM" column="COMM" jdbcType="DOUBLE"/>
            <result property="DEPTNO" column="DEPTNO" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        EMPNO,ENAME,JOB,
        MGR,HIREDATE,SAL,
        COMM,DEPTNO
    </sql>
</mapper>
